html {
  font: normal 16px Roboto; }

input[type=button],
button {
  outline: none; }
  input[type=button].btn.btn-primary,
  button.btn.btn-primary {
    background-color: #9C3544;
    border: #762833; }
    input[type=button].btn.btn-primary:hover,
    button.btn.btn-primary:hover {
      background-color: #852d3a; }
    input[type=button].btn.btn-primary:active,
    button.btn.btn-primary:active {
      background-color: #6e2530; }

input[type=text][placeholder] + placeholder-container,
input[type=password][placeholder] + placeholder-container {
  font-size: .75rem;
  color: #9C3544;
  font-weight: bold; }

fulcrum-logo.login {
  color: #9C3544;
  font-size: 3em; }
