<div class="mask"></div>
<form id="login-form" 
      (ngSubmit)="signin(username.value, password.value)" 
      class="container-fluid col-xs-10 col-sm-8 col-md-6 col-lg-4"
>
    <fulcrum-logo class="login"></fulcrum-logo>
    <div class="form-group input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input #username type="text" class="form-control" placeholder="Username" />
    </div>
    <div class="form-group input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
        <input #password type="password" class="form-control" [placeholder]="'Password'" />
    </div>
    <div class="form-group input-group input-group-lg col-xs-12">
        <button class="btn btn-primary btn-lg col-xm-12" [disabled]="authenticating">
            <strong>{{authenticating ? 'Running Facial Recognition' : 'Sign In'}}</strong>
        </button>
    </div>
</form>