.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: #e0e0e0;
}

#login-form {
    position: fixed;
    top: 35%;
    left: 50%;

    padding-top: 15px;
    padding-bottom: 15px;

    transform: translate(-50%,-50%);
    background-color: white;

    border-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
}

#login-form > .form-group {
    margin-bottom: 0;
}

#login-form > .form-group + .form-group {
    margin-top: 15px;
}
