﻿$primary-color: #9C3544;

html {
    font: normal 16px Roboto;
}

input[type=button],
button {
    outline: none;

    &.btn.btn-primary {
        background-color: $primary-color;
        border: darken($primary-color, 10%);

        &:hover {
            background-color: darken($primary-color, 6%);
        }
        &:active {
            background-color: darken($primary-color, 12%);
        }
    }
}

input[type=text],
input[type=password] {
    &[placeholder] {
        + placeholder-container {
            font-size: .75rem;
            color: $primary-color;
            font-weight: bold;
        }
    }
} 

fulcrum-logo.login {
    color: $primary-color;
    font-size: 3em;
}