﻿:host { 
    display: flex; 
    position: relative; 
    justify-content: center;
    font-weight: bold;
}
#f { font-size: 3em; }
#ulcrum { 
    font-size: 1.25em;
    transform: translateY(.5em);
    text-decoration: underline;
}
 
#dashboard {
    font-size: .7em;
    font-style: italic;
    transform: translateY(.5em);
}